ng-form.form-horizontal(name="form", novalidate="", role="form")

  .row
    .col-md-12
      span
        h3 {{user.fullname}}

  .row
    .col-md-12
      span
        p &nbsp;

  .row
    .col-md-12
      span
        h4 User Information

  .form-group
    label.col-md-3.control-label(for='user.fullname') Full Name
    .col-md-6
      input.form-control(ng-model='user.fullname', type='text', required='', name='user.fullname', placeholder='Full Name')
  .form-group
    label.col-md-3.control-label(for='user.jobTitle') Job Title
    .col-md-6
      input.form-control(ng-model='user.jobTitle', type='text', name='user.jobTitle', placeholder='Job Title')

  .row
    .col-md-12
      span
        h4 Change Your Password

  .form-group(ng-class="{'has-error': form.$error.mismatch, 'has-feedback': form.$error.mismatch}")
    label.col-md-3.control-label(for='user.password') New Password
    .col-md-6
      input.form-control(ng-model='user.password', type='password', ng-required='confirmpassword', name='user.password', placeholder='New Password')
      span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='form.$error.mismatch')
      p.help-block.text-danger(ng-show='form.$error.mismatch') Passwords do not match!

  .form-group(ng-class="{'has-error': form.$error.required, 'has-feedback': form.$error.required}")
    label.col-md-3.control-label(for='confirmpassword') Confirm Password
    .col-md-6
      input.form-control(ng-model='confirmpassword', type='password', ng-required='user.password', passwords-match='', placeholder='Confirm Password', name="confirmpassword")
      span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='form.$error.required')
      p.help-block.text-danger(ng-show='form.$error.required') Required!

  .form-group
    .col-md-9
      input.btn.btn-primary.pull-right#resetOkButton(type="submit", value="Save Profile", ng-click="saveProfile()")
