div
  .modal-header
    h3 Delete Documentation
  .modal-body
    p Are you sure you want to delete {{fileName}}?
  .modal-footer
    button.btn.btn-primary.okDeletePersonnel(ng-click="deleteFile()") Ok
    button.btn.btn-warning.cancelDeletePersonnel(ng-click="cancel()") Cancel