div
  .modal-header
    h3 Delete Personnel
  .modal-body
    p Are you sure you want to delete {{personnelName}}?
  .modal-footer
    button.btn.btn-primary#okDeletePersonnel(ng-click="deletePersonnel()") Ok
    button.btn.btn-warning#cancelDeletePersonnel(ng-click="cancel()") Cancel