.panel-body
  .col-md-12
    div(ng-controller="PersonnelRoleCtrl")
      div(ng-show="!hasRoles()")
        span#noRoles No roles have been entered&nbsp;
        span
          a#addRoleButton(href="", ng-click="updateRole()", ng-show="pForm.$valid") - add a role
      div(ng-show="hasRoles()")
        .row
          .table-responsive
            table.table.table-striped.table-bordered.table-hover#roleTable
              thead
                tr
                  th Job Title
                  th Client
                  th Period
                  th End Date
                  th Delete
              tbody
                tr(ng-repeat="role in form.roles | orderBy:sortByRoleEnd:true", ng-show="!role.deleted")
                  td(id="roleName-{{role.roleName}}",ng-click="updateRole(role._id)") {{role.roleName}}
                  td(ng-click="updateRole(role._id)") {{role.client}}
                  td.yearsPerformed(ng-click="updateRole(role._id)") {{role.yearsPerformed}}
                  td(ng-click="updateRole(role._id)") {{ role.endDate }}
                  td
                    i.fa.fa-2x.fa-times(id="deleteRoleMessageBox-{{role.roleName}}",ng-click="openDeleteRoleMessageBox(role._id, role.roleName)")
        .row
          a.pull-right#addRoleButton(href="", ng-click="updateRole()") Add more roles...