.panel-body
  .col-md-12
    .form-group
      h2 Basic Skills
      .row
        .col-md-8
        .col-md-1.skills-col
          | 0
        .col-md-1.skills-col
          | 1
        .col-md-1.skills-col
          | 2
        .col-md-1.skills-col
          | 3
      .row(ng-repeat="skill in ['Read, Write, Speak English', 'Basic Math']")
        .col-md-2
        .col-md-6
          label {{skill}}
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
      h2 Soft Skills
      .row
        .col-md-8
        .col-md-1.skills-col
          | 0
        .col-md-1.skills-col
          | 1
        .col-md-1.skills-col
          | 2
        .col-md-1.skills-col
          | 3
      .row(ng-repeat="skill in ['Working effectively with others', 'Time Management', 'Motivation & empowerment', 'Manangement & supervision', 'Root Cause Problem Solving']")
        .col-md-2
        .col-md-6
          label {{skill}}
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
      h2 Quality System
      .row
        .col-md-8
        .col-md-1.skills-col
          | 0
        .col-md-1.skills-col
          | 1
        .col-md-1.skills-col
          | 2
        .col-md-1.skills-col
          | 3
      .row(ng-repeat="skill in ['Quality System', 'Documentation', 'Manangment Responsibility', 'Human Resources', 'Customer-Related processes', 'Design & Development', 'Purchasing', 'Production & Service', 'Monitor & Measure Devices', 'Measurement', 'Internal Audit', 'Control of Nonconforming', 'Corrective & Preventive']")
        .col-md-2
        .col-md-6
          label {{skill}}
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
      h2 Hard Skills
      .row
        .col-md-8
        .col-md-1.skills-col
          | 0
        .col-md-1.skills-col
          | 1
        .col-md-1.skills-col
          | 2
        .col-md-1.skills-col
          | 3
      .row(ng-repeat="skill in ['Blueprint reading', 'Safety Awareness', 'Measuring & Gaging', 'Customer Product Knowledge', 'Product design skills', 'Advanced Math', 'Statistical Techniques']")
        .col-md-2
        .col-md-6
          label {{skill}}
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
      h2 Computer Skills
      .row
        .col-md-8
        .col-md-1.skills-col
          | 0
        .col-md-1.skills-col
          | 1
        .col-md-1.skills-col
          | 2
        .col-md-1.skills-col
          | 3
      .row(ng-repeat="skill in ['MRP', 'CAD', 'Windows', 'Word', 'Excel', 'Access', 'Outlook email', 'Internet Explorer Internet']")
        .col-md-2
        .col-md-6
          label {{skill}}
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
        .col-md-1.skills-col
          input.skills-radio(type='radio')
