.panel-body
  .col-md-12
    .form-group(ng-controller="PersonnelSkillsCtrl")
      div(ng-repeat="category in skills.categories")
        h2 {{category.name}}
        .row.personnel-skill-entries(ng-repeat="entry in category.entries")
          .col-md-2
          .col-md-6
            label {{entry.name}}
          .col-md-3
            fieldset.rating
              input(type="radio" ng-model="form.skills.ratings[entry.id]" id="{{entry.id}}-5" value="5")
              label(for="{{entry.id}}-5" title="Master") 5 rating
              input(type="radio" ng-model="form.skills.ratings[entry.id]" id="{{entry.id}}-4" value="4")
              label(for="{{entry.id}}-4" title="Expert") 4 rating
              input(type="radio" ng-model="form.skills.ratings[entry.id]" id="{{entry.id}}-3" value="3")
              label(for="{{entry.id}}-3" title="Proficient") 3 rating
              input(type="radio" ng-model="form.skills.ratings[entry.id]" id="{{entry.id}}-2" value="2")
              label(for="{{entry.id}}-2" title="Familiar") 2 rating
              input(type="radio" ng-model="form.skills.ratings[entry.id]" id="{{entry.id}}-1" value="1")
              label(for="{{entry.id}}-1" title="Beginner") 1 rating
          .col-md-1
            i.fa.fa-times.delete(ng-show="form.skills.ratings[entry.id]" ng-click="deselect(entry.id)")
