.panel-body
  .col-md-12
    div(ng-controller="PersonnelRoleCtrl")
      div.row
        .col-md-4.pull-left-md
           h3 Roles
        .col-md-8
           button.btn.btn-primary.pull-right#addRoleButton(type="submit", ng-click="updateRole()") Add Role
      div.row 
         br     
      div.header-concat(ng-show="!hasRoles()")
        span#noRoles &nbsp;&nbsp; No roles&nbsp;
        br
      div(ng-show="hasRoles()")
        .row
          .table-responsive
            table.table.table-striped.table-bordered.table-hover#roleTable
              thead
                tr
                  th Job Title
                  th Client
                  th Period
                  th End Date
                  th Delete
              tbody
                tr(ng-repeat="role in form.roles | orderBy:sortByRoleEnd:true", ng-show="!role.deleted")
                  td(id="roleName-{{role.roleName}}",ng-click="updateRole(role._id)") {{role.roleName}}
                  td(ng-click="updateRole(role._id)") {{role.client}}
                  td.yearsPerformed(ng-click="updateRole(role._id)") {{role.yearsPerformed}}
                  td(ng-click="updateRole(role._id)") {{ role.endDate }}
                  td
                    i.fa.fa-2x.fa-times(id="deleteRoleMessageBox-{{role.roleName}}",ng-click="openDeleteRoleMessageBox(role._id, role.roleName)")
br
