extends layout

block body

  div(ng-controller='LoginCtrl')

    .gray-bg.top-navigation#wrapper(ng-if='!user || showFull')
      #page-wrapper
        div#mainWindow(ui-view="dataPanel")
        .ng-include(src="'partials/common/footer'")

    #wrapper(ng-if='user && !showFull')
      ng-include(src="'partials/common/navigation'")
      .gray-bg#page-wrapper
        ng-include(src="'partials/common/topnavbar'")
        #mainWindow(ui-view="dataPanel")
        ng-include(src="'partials/common/footer'")

  // google maps
  script(src='//maps.googleapis.com/maps/api/js')

  //-<!-- build:js scripts/vendor.js -->
  // bower:js
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-animate/angular-animate.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='bower_components/angular-ui-utils/ui-utils.js')
  script(src='bower_components/angular-toastr/dist/angular-toastr.tpls.js')
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/d3/d3.js')
  script(src='bower_components/file-saver/FileSaver.js')
  script(src='bower_components/moment/moment.js')
  script(src='bower_components/ng-file-upload/ng-file-upload.js')
  script(src='bower_components/ObjectId.js/src/main/javascript/Objectid.js')
  script(src='bower_components/underscore/underscore.js')
  script(src='bower_components/lodash/lodash.js')
  script(src='bower_components/angular-google-maps/dist/angular-google-maps.js')
  script(src='bower_components/angular-hotkeys/build/hotkeys.min.js')
  script(src='bower_components/chosen/chosen.jquery.js')
  script(src='bower_components/angular-chosen-localytics/chosen.js')
  script(src='bower_components/select2/select2.js')
  script(src='bower_components/angular-ui-select2/src/select2.js')
  script(src='bower_components/ng-Fx/dist/ngFx.js')
  script(src='bower_components/angular-loading-bar/build/loading-bar.js')
  script(src='bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
  script(src='bower_components/angular-date-time-input/src/dateTimeInput.js')
  script(src='bower_components/angular-smart-table/dist/smart-table.js')
  script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
  script(src='bower_components/metisMenu/dist/metisMenu.js')
  script(src='bower_components/angular-aside/dist/js/angular-aside.js')
  script(src='bower_components/angular-jwt/dist/angular-jwt.js')
  script(src='bower_components/plotly.js/dist/plotly.min.js')
  // endbower
  //-<!-- endbuild -->

  //-<!-- build:js scripts/app.js -->
  script(src='app.js')
  //-<!-- endbuild -->

  //-<!-- build:js scripts/components.js -->
  // injector:js
  script(src='affiliation/controller/affiliationController.js')
  script(src='affiliation/controller/deleteAffiliationController.js')
  script(src='analytics/controller/analyticsController.js')
  script(src='analytics/controller/skillsMatrixController.js')
  script(src='analytics/controller/teamProjectMatrixController.js')
  script(src='analytics/directive/pairingsDirective.js')
  script(src='analytics/directive/skillsMatrixDirective.js')
  script(src='analytics/directive/teamProjectMatrixDirective.js')
  script(src='analytics/service/matrixDataService.js')
  script(src='analytics/service/matrixService.js')
  script(src='commLog/controller/followupController.js')
  script(src='commLog/controller/noteController.js')
  script(src='commLog/service/commLogService.js')
  script(src='commLog/service/noteService.js')
  script(src='common/directive/autoFocus.js')
  script(src='common/directive/dateTimeValidation.js')
  script(src='common/directive/documentTypeIconDirective.js')
  script(src='common/directive/inspinia.js')
  script(src='common/filter/capitalise.js')
  script(src='common/filter/returnDirtyItems.js')
  script(src='common/filter/spaceCapitals.js')
  script(src='common/service/alertService.js')
  script(src='common/service/dateValidationService.js')
  script(src='common/service/docxService.js')
  script(src='common/service/eventLogService.js')
  script(src='common/service/googleLocationService.js')
  script(src='common/service/htmlifyDataService.js')
  script(src='common/service/sliderService.js')
  script(src='common/service/stackTraceService.js')
  script(src='common/service/tabService.js')
  script(src='common/service/typeAheadService.js')
  script(src='common/service/underscoreService.js')
  script(src='index/controller/indexController.js')
  script(src='index/controller/jobSummaryController.js')
  script(src='index/controller/personnelSummaryController.js')
  script(src='index/directive/appVersionDirective.js')
  script(src='index/service/indexService.js')
  script(src='index/service/searchService.js')
  script(src='jobDescription/controller/deleteJobDescriptionController.js')
  script(src='jobDescription/controller/jobDescriptionController.js')
  script(src='jobDescription/controller/jobDescriptionDocumentationController.js')
  script(src='jobDescription/controller/jobDescriptionMissingMandatoryController.js')
  script(src='jobDescription/service/jobDescriptionService.js')
  script(src='login/controller/loginController.js')
  script(src='login/controller/registrationController.js')
  script(src='login/directive/passwordsMatchDirective.js')
  script(src='login/service/userService.js')
  script(src='manageWorkflow/controller/manageWorkflowController.js')
  script(src='manageWorkflow/controller/workflowPersonnelController.js')
  script(src='manageWorkflow/service/manageWorkflowService.js')
  script(src='personnel/controller/deleteFileController.js')
  script(src='personnel/controller/deletePersonnelController.js')
  script(src='personnel/controller/dirtyPersonnelController.js')
  script(src='personnel/controller/personnelContactController.js')
  script(src='personnel/controller/personnelController.js')
  script(src='personnel/controller/personnelDocumentationController.js')
  script(src='personnel/controller/personnelNotesController.js')
  script(src='personnel/controller/personnelQualificationController.js')
  script(src='personnel/controller/personnelRoleController.js')
  script(src='personnel/service/emailService.js')
  script(src='personnel/service/fileService.js')
  script(src='personnel/service/followupService.js')
  script(src='personnel/service/personnelService.js')
  script(src='qualification/controller/deleteQualificationController.js')
  script(src='qualification/controller/qualificationController.js')
  script(src='qualificationReport/controller/qualificationReportController.js')
  script(src='qualificationReport/controller/reportOptionsController.js')
  script(src='resourceController.js')
  script(src='role/controller/deleteRoleController.js')
  script(src='role/controller/roleController.js')
  script(src='role/service/roleService.js')
  script(src='training/controller/deleteTrainingController.js')
  script(src='training/controller/trainingController.js')
  script(src='utils/string-utils.js')
  script(src='web/js/inspinia.js')
  script(src='workflow/controller/epc/availableController.js')
  script(src='workflow/controller/epc/consideredController.js')
  script(src='workflow/controller/epc/formatcvController.js')
  script(src='workflow/controller/epc/hiredController.js')
  script(src='workflow/controller/epc/interviewController.js')
  script(src='workflow/controller/epc/interviewRequestController.js')
  script(src='workflow/controller/epc/preEmploymentController.js')
  script(src='workflow/controller/epc/qualityController.js')
  script(src='workflow/controller/epc/submissionController.js')
  script(src='workflow/controller/workflowController.js')
  script(src='workflow/controller/workflowProgressController.js')
  script(src='workflow/service/workflowService.js')
  // endinjector
  //-<!-- endbuild -->