.row.border-bottom
  nav.navbar.navbar-static-top.white-bg(role="navigation", style="margin-bottom: 0")
    .navbar-header.wrapper(id='wrapper')
      span(minimaliza-sidebar='')
      ul.nav.navbar-top-links.navbar-right
        li
          a#logoutButtonTop(href="#", ng-click="logout()")
            i.fa.fa-sign-out
            | &nbsp; Log out