div
  .modal-header
    .row
      .col-md-12
        h3 Roles
  .modal-body

    .row
      .col-md-12
        h4 Role Details

    form(name="roleForm", novalidate="", role="form")
      .row
        .col-md-3.form-group
          label.col-md-12.control-label.padding-left-removed(for='role.roleName') Job Title
          input.form-control#roleName(ng-model='role.roleName', type='text', name='role.roleName', typeahead="r.roleName for r in typeAhead('roleName', $viewValue) | filter: {roleName: $viewValue} | orderBy:'roleName'", typeahead-loading="loadingRoleName", autocomplete='off')
        .col-md-3.form-group
          label.col-md-12.control-label.padding-left-removed(for='role.client') Client
          input.form-control(ng-model='role.client', type='text', name='role.client', typeahead="r.client for r in typeAhead('client', $viewValue) | filter: {client: $viewValue} | orderBy:'client'", typeahead-loading="loadingClient", autocomplete='off')
        .col-md-3.form-group(ng-class="{'has-error': roleForm.startDate.$error.validator}")
          label.col-md-12.control-label.padding-left-removed(for='startDate') Start Date
          input.form-control(name="startDate", placeholder="dd/mm/yyyy", ng-model="role.startDate", ui-validate=" 'validateDate($value)' ")
          p.help-block.text-danger#dateErrorMessage(ng-show='roleForm.startDate.$error.validator') {{ dateValidationMessage }}
        .col-md-3.form-group(ng-class="{'has-error': roleForm.endDate.$error.validator}")
          label.col-md-12.control-label.padding-left-removed(for='endDate') End Date
          input.form-control(name="endDate", placeholder="dd/mm/yyyy", ng-model="role.endDate", ui-validate=" 'validateDate($value)' ")
          p.help-block.text-danger#dateErrorMessage(ng-show='roleForm.endDate.$error.validator') {{ dateValidationMessage }}
    .row
      .col-md-12
        p &nbsp;

    .row
      .col-md-12
        h4 Roles and Responsibilities
        textArea.form-control(ng-model='role.responsibilities', name="role.responsibilities", rows="7", style='width: 100%')

  .modal-footer
    button.btn.btn-primary.saveAndNewButton(ng-click="saveAndNew()") Save & New
    button.btn.btn-primary.okRolesDone(ng-click="ok()") Ok
    button.btn.btn-warning(ng-click="cancel()") Cancel